/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define SYM_L    3
#define NUM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)

/ {
    macros {
        flamePrint: flamePrint {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(X))>;
            label = "FLAMEPRINT";
        };

        macPrint: macPrint {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_COMMAND &kp LEFT_SHIFT &kp N5>;
            label = "MACPRINT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_layer {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   V   |   B   | CAPS  |-------------------|  ESC  |   N   |   M   |   ,   |   .   |   /   | SHIFT |
 * ----------------| CTRL  |-------|  GUI  |  ALT  | SPACE |  Sym  |---|  Num  | SPACE |  ALT  |  GUI  |-------|   '   |----------------
 */

            bindings = <
&kp GRAVE       &kp Q  &kp W             &kp E  &kp R             &kp T                                                   &kp Y     &kp U      &kp I      &kp O           &kp P      &kp BSPC
&kp TAB         &kp A  &kp S             &kp D  &kp F             &kp G                                                   &kp H     &kp J      &kp K      &kp L           &kp SQT    &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X             &kp C  &kp V             &kp B     &mo 1                               &to 2     &kp N     &kp M      &kp COMMA  &kp DOT         &kp SLASH  &kp RSHFT
                       &kp C_PLAY_PAUSE         &kp LEFT_CONTROL  &kp LALT  &kp LEFT_GUI  &kp SPACE  &kp SPACE  &kp RGUI  &kp LALT  &kp GLOBE             &kp LG(LS(N5))
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        macSymbol_layer {
            bindings = <
&kp ESCAPE  &mt EXCL NUMBER_1  &mt AT N2           &mt HASH N3  &mt DOLLAR N4  &mt PERCENT N5                                                &mt CARET N6  &mt AMPERSAND N7  &mt ASTERISK N8              &mt LEFT_PARENTHESIS N9        &mt RIGHT_PARENTHESIS N0  &mt UNDERSCORE MINUS
&none       &none              &none               &none        &none          &none                                                         &none         &none             &mt LEFT_BRACE LEFT_BRACKET  &mt RIGHT_BRACE RIGHT_BRACKET  &mt COLON SEMICOLON       &mt PIPE BACKSLASH
&none       &none              &none               &none        &none          &kp LG(LC(Q))   &none                         &kp UP_ARROW    &none         &none             &none                        &none                          &none                     &none
                               &kp LG(LA(ESCAPE))               &none          &none           &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT     &none                                          &flamePrint
            >;
        };

        calculator_layer {
            bindings = <
&none  &none  &none  &none  &kp PERCENT  &kp ASTERISK                              &kp PLUS   &mt F7 KP_NUMBER_7  &mt F8 KP_NUMBER_8  &mt F9 KP_NUMBER_9  &none  &kp BACKSPACE
&none  &none  &none  &none  &none        &kp FSLH                                  &kp MINUS  &mt F4 KP_NUMBER_4  &mt F5 KP_NUMBER_5  &mt F6 KP_NUMBER_6  &none  &kp ENTER
&none  &none  &none  &none  &none        &kp EQUAL     &to 0                &to 3  &kp COMMA  &mt F1 KP_NUMBER_1  &mt F2 KP_NUMBER_2  &mt F3 KP_NUMBER_3  &none  &none
              &none         &none        &none         &none  &none  &none  &none  &none      &kp KP_NUMBER_0                         &sys_reset
            >;
        };

        config_layer {
            /* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |Prt Scr|       | EP_OFF| EP_ON |       |
 * |       | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       |       |
 * | BOOTL | RESET |       |OUT_USB|OUT_BLE|       |BT CLR |-------------------|       |       |       |       |       |       | SHIFT |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */

            bindings = <
&bootloader  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_CLR    &none                              &none  &bt BT_CLR    &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0   &bootloader
&none        &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &none         &none                              &none  &none         &bt BT_DISC 2  &bt BT_DISC 1  &bt BT_DISC 0  &none
&none        &none          &none          &out OUT_USB   &out OUT_BLE  &none  &to 0                &none  &none  &out OUT_BLE  &out OUT_USB   &none          &none          &none
                            &sys_reset                    &none         &none  &to 5  &none  &none  &to 4  &none  &none                        &sys_reset
            >;
        };

        win_layer {
            bindings = <
&kp GRAVE       &kp Q  &kp W             &kp E  &kp R             &kp T                                                   &kp Y     &kp U      &kp I      &kp O          &kp P      &kp BSPC
&kp TAB         &kp A  &kp S             &kp D  &kp F             &kp G                                                   &kp H     &kp J      &kp K      &kp L          &kp SQT    &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X             &kp C  &kp V             &kp B     &mo 6                               &to 3     &kp N     &kp M      &kp COMMA  &kp DOT        &kp SLASH  &kp RSHFT
                       &kp C_PLAY_PAUSE         &kp LEFT_CONTROL  &kp LALT  &kp LEFT_GUI  &kp SPACE  &kp SPACE  &kp RGUI  &kp LALT  &kp GLOBE             &kp LG(LS(S))
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        buttonBox_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6
&trans  &trans  &trans  &trans  &trans  &trans                                    &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans                   &kp F19  &kp F13  &kp F14  &kp F15  &kp F16  &kp F17  &kp F18
                &to 0           &trans  &trans  &trans  &trans  &kp F20  &kp F21  &kp F22  &kp F23           &to 4
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        winSymbol_layer {
            bindings = <
&kp ESCAPE  &mt EXCL KP_NUMBER_1  &mt AT KP_NUMBER_2  &mt HASH KP_NUMBER_3  &mt DOLLAR KP_NUMBER_4  &mt PERCENT KP_NUMBER_5                                                &mt CARET KP_NUMBER_6  &mt AMPERSAND KP_NUMBER_7  &mt ASTERISK KP_NUMBER_8     &mt LEFT_PARENTHESIS KP_NUMBER_9  &mt RIGHT_PARENTHESIS KP_NUMBER_0  &mt UNDERSCORE MINUS
&none       &none                 &none               &none                 &none                   &none                                                                  &none                  &none                      &mt LEFT_BRACE LEFT_BRACKET  &mt RIGHT_BRACE RIGHT_BRACKET     &mt COLON SEMICOLON                &mt PIPE NON_US_BACKSLASH
&none       &none                 &none               &none                 &none                   &kp LG(L)                &none                         &kp UP_ARROW    &none                  &none                      &none                        &none                             &none                              &none
                                  &kp LC(LA(DEL))                           &none                   &none                    &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT              &none                                                   &kp KP_NUMLOCK
            >;
        };
    };
};
